@(message: String)

@main("Test Page") {
    <div class="container">
        <h3>Test Page</h3>
        <p>@message</p>
        <form action="@routes.UserController.handleTestPagePost()" method="post">
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" id="name" name="name">
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input type="email" id="email" name="email">
                    <label for="email">Email</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit">Submit</button>
        </form>
    </div>
}